
LIBRARY_THING_KEY=<SOME KEY>
LIBRARY_THING_URL=http://www.librarything.com/services/rest/1.1/?method=librarything.ck.getwork&apikey=
SEARCH_API_KEY=<SOME KEY>
LIBRARY_THING_SEARCH_ID=<SOME ID>
GOODREADS_SEARCH_ID=<SOME ID>