GOODREADS_URL=https://www.goodreads.com/search.xml?key=
GOODREADS_KEY=<GOODREADS KEY>
LIBRARY_THING_KEY=<LIBRARYTHING KEY>
LIBRARY_THING_URL=http://www.librarything.com/services/rest/1.1/?method=librarything.ck.getwork&apikey=
BING_URL=https://api.cognitive.microsoft.com/bing/v7.0/search
BING_TOKEN=<BING TOKEN>
BING_TOKEN_FIELD=Ocp-Apim-Subscription-Key